/* The hero image */
.hero-image {

  background-image: url("../img/HeroImage.jpg");

  /* Set a specific height */
  width: 100vw;
  height: 100vh;
  display: block;
 
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: #222222;
  padding: 5px;
}

.contactMeImg { 

	/* Position and center the image to scale nicely on all screens */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height:60%;
	width:60%;
}

.project-image {
  height:75%;
  width:75%;
  object-fit: fill;
}
 
.section-id {
	padding:60px 0px 80px 0px;
}

.project {
  padding:60px 0px 100px 0px;
}

body{
  font-family: 'Times New Roman', Times, serif;
}

.navbar-custom {
    background-color: black;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: White;
}

.navbar-custom .navbar-nav > li > a {
    color: white;
}

span:hover{
    color:#a7a7a7 ;
}

#contact{
	text-align:center;
}