*{
  font-family: Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
 
}

body{
  font-size: 1rem; 
  background-color: rgb(244, 244, 244);
}

.body-content{
  padding: 25px;
}

.headerText{
  text-align: center;
  font-size: 1.75rem;
}

.subHeaderText{
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 10px;
}
/* The hero image */
.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(63, 63, 63, 0.5)),url("../img/HeroImage.jpg");
  width: 100%;
  height: 100vh;
  display: block;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.scrollTxt{
    position: absolute;
    font-size: 1rem;
    top: 95%;
    left: 15%;
    color:white
}

.program-lang{
  text-align: center;
  margin: 2rem;
}

.hero-text-alignment {
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  padding: 20px;
}

/*Hero image text*/
.big-font{
  font-size: 4rem;
}
.contactMeImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: auto;
  width: 60%;
  margin: 30px auto;
}

.contactInfo
{
  font-size: 1.25rem;
}

.brighten{
  filter: brightness(2);
  font-weight: 700;
  letter-spacing: 1px;
  mix-blend-mode: screen;
}

.project-image {
  height: auto;
  width: 100%;
}

.desc-container {
  margin: 80px;
  width:100%;
  padding:10px;
}

.projFlex{
  display:flex;
  align-items: center;
}

.profileContainer{
  display:flex;
  gap:4em;
}

.profileImage{
  content:url(../img/Helen.jpg);
  max-width: 300px;
  max-height: 300px;
  height: auto;
  width: auto;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 100%; 
}

.image-container {
  flex-grow: 0; /* Prevent the image container from growing */
  flex-basis: 50%; /* Make the image container take 50% of the width */
}

.text-container {
  flex-grow: 0; /* Prevent the text container from growing */
  flex-basis: 50%; /* Make the text container take 50% of the width */
  padding-left: 20px; /* Optional padding to separate the text from the image */
}

body {
  font-family: "Times New Roman", Times, sans-serif;
}

.container.body-content{
  width: 100%; /* Make it take the full width of the viewport */
  max-width: none; /* Remove any max-width that might be restricting it */
  padding: 0 175px; /* Optional: add some padding for breathing room */
  margin: 0 auto; /* Center the content if desired */
}

.navbar-custom {
  background-color: black;

}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: White;
}

.navbar-nav .nav-link:hover, .navbar-nav .dropdown-toggle:hover {
  color: grey;
  text-decoration: none;
}


.navbar-custom .navbar-nav > li > a {
  color: white;
  list-style-type: none;
}

span:hover, a:hover {
  color: #6f6f6f;
}

#contact {
  text-align: center;
  padding-bottom: 30px;
}

.contact-container {
  padding: 20px;
  border: black solid 1px;
  margin: 200px 0px;
  width:100%;
}

.socialMediaIcons{
  font-size: 2em;
  
}

p, .navbar-text{
  font-size: 1rem;
}

.fab {
  text-decoration: none;
}

.fab:hover {
  text-decoration: none;
}